<h1>CD Organizer</h1>

<p>Add a new CD:</p>

<form action="/bands" method="post">
  <label for="genre">Enter your genre</label>
  <input id="genre" name="genre" type="text">

  <label for="band">Enter your band</label>
  <input id="band" name="band" type="text">

  <button type="submit" class="btn btn-default">Add CD</button>
</form>
